@font-face{
  font-family: OptimusPrincepsSemiBold;
  src: url(../font/OptimusPrincepsSemiBold.woff2); format(woff2)
}

body{
  margin:0;
  padding: 0%;
  overflow: hidden;
  position: relative;
}

a{
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-shadow: 10px 10px 3px #927334;
}

.cover{
  position: fixed;
  box-sizing: border-box;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
  border: 4px #7f642e solid;
}

.first_page{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.background_main{
  background: url("../img/main_img.jpg") #000;
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 70vh;
}

.h1{
  font-family: OptimusPrincepsSemiBold;
  color: white;
  margin-left: 50%;
  position: relative;
  margin-top: -78%;
  font-size: 3vw;
}

.main_text{
  width: 100%;
  height: 30vh;
  color: #e8e6e3;
  box-sizing: border-box;
  border-top: 4px #7f642e solid;
  font-family: OptimusPrincepsSemiBold;
  text-align: center;
  text-shadow: 10px 10px 5px #7f642e;
  font-size: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
  from{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF9B00, 0 0 40px #FF9B00, 0 0 50px #FF9B00, 0 0 60px #FF9B00, 0 0 70px #FF9B00;
  }
  to{
    text-shadow: 0 0 20px #fff, 0 0 30px #FF9B00, 0 0 40px #FF9B00, 0 0 50px #FF9B00, 0 0 60px #FF9B00, 0 0 70px #FF9B00, 0 0 80px #FF9B00;
  }
}

.second_page{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}

.bonfire{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.bonfire > video{
  width: 100%;
  min-height: 100%;
}

.summary_txt{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  text-shadow: 10px 10px 5px #7f642e;
  font-size: 4vw;
  position: relative;
  top: -70%;
  width: 50%;
  margin-left: 45%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(38, 50, 56, 0.4);
  border: 4px #7f642e solid;
}

.nav1{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  text-shadow: 10px 10px 5px #7f642e;
  font-size: 60px;
  margin-left: 20px;
  width: 750px;
  top: -146%;
  position: relative;
}

.introduction{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(../img/third_page.jpg);
  background-size: cover;
  background-position: center;
}

.nav2{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  text-shadow: 10px 10px 5px #7f642e;
  font-size: 60px;
  margin-left: 20px;
  width: 750px;
}

.flex_intro{
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 13%;
  margin-right: 23%
}

.intro_txt{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  font-size: 1.2vw;
  width: 38%;
  background-color: rgba(38, 50, 56, 0.6);
  border: 4px #7f642e solid;
  align-self: center;
  margin-left: -500px;
}

.intro-content{
  width: 700px;
  height: 450px;
  opacity: 0.8;
}

.nav3{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  text-shadow: 10px 10px 5px #7f642e;
  font-size: 60px;
  margin-left: 20px;
  width: 750px;
  margin-top: 6%;
}

.purpose{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(../img/third_page.jpg);
  background-size: cover;
  background-position: center;
}

.flex_purpose{
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-left: 23%;
  margin-right: 13%
}

.purpose_txt{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  font-size: 1.3vw;
  width: 32%;
  background-color: rgba(38, 50, 56, 0.6);
  border: 4px #7f642e solid;
  align-self: center;
  margin-left: 50px;
}

.purpose-content{
  width: 700px;
  height: 450px;
  opacity: 0.8;
}

.trials{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(../img/third_page.jpg);
  background-size: cover;
  background-position: center;
}

.flex_trials{
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-left: 13%;
  margin-right: 23%
}

.trials-content{
  width: 700px;
  height: 450px;
  opacity: 0.8;
}

.trials_txt{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  font-size: 1.2vw;
  width: 38%;
  background-color: rgba(38, 50, 56, 0.6);
  border: 4px #7f642e solid;
  align-self: center;
}

.weaponry{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(../img/third_page.jpg);
  background-size: cover;
  background-position: center;
}

.flex_weap{
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-top: 6%;
  margin-left: 23%;
  margin-right: 13%
}

.weap_txt{
  color: #e8e6e3;
  font-family: OptimusPrincepsSemiBold;
  font-size: 1.3vw;
  width: 32%;
  background-color: rgba(38, 50, 56, 0.6);
  border: 4px #7f642e solid;
  align-self: center;
  margin-left: 50px
}

.weapon-content{
  width: 700px;
  height: 450px;
  opacity: 0.8;
}

.gameplay{
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url(../img/third_page.jpg);
  background-size: cover;
  background-position: center;
}

.gameplay_embed{
  width: 850px;
  height: 500px;
  border: 4px #7f642e solid;
  position: relative;
  margin-top: -8%;
  margin-left: 28%;
}

.iframe{
  width: 850px;
  height: 500px;
  border: 2px #7f642e;
}

.flex_contact{
  margin-top: 2%;
  width: 100%;
  height: 38vh;
  display: flex;
  flex-direction: row;
}

.contact{
  box-sizing: border-box;
  border-radius: 5px;
  border-right: 10px;
  border-color: #DCDCDC;
  background-color: #2F4F4F;
  padding: 10px;
  width: 70%
}

label{
  font-family: OptimusPrincepsSemiBold;
  font-size: 0.9vw;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 10px;
  resize: vertical;
  font-family: OptimusPrincepsSemiBold;
  font-size: 0.7vw;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

option{
  font-family: OptimusPrincepsSemiBold;
  font-size: 0.7vw;
}

.textarea{
  height: 100px;
}

.redirect{
  border-radius: 5px;
  background-color: #2F4F4F;
  border-left: #DCDCDC
  padding: 10px;
  width: 30%;
}

.flex_link{
  display: flex;
  flex-direction: column;
  height: 36vh;
  margin-left: 23%;
}

.button_link{
  height: 100%;
  width: 70%;
}

.redirect_img{
  height: 86%;
  margin-top: 2%
}

.button_txt{
  font-family: OptimusPrincepsSemiBold;
  font-size: 1.2vw;
  margin-left: 20%;
}
